#slider {
    margin: auto;
}

#slider .container{
   justify-content: center;
   text-align: center;
}

#slider .row {
    margin-top: 15px;
}

#cards {
    margin-top: 50px;
}

#cards h5 {
    text-align: center;
}
